<% if @event.errors.any? %>
	<% @event.errors.full_messages.each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>

<%= form_for @event do |f| %>
   
   	<%= render :partial=>"from", :locals=>{:f=>f} %>

    <%= f.submit "Create" ,:class=>"btn btn-primary"%>
    <%= button_tag "Cancel", type: :reset, :class=>"btn btn-default" %>
<% end %>

